/* Таблица стилей всех классов index.html */

body{
  margin: 0;
}

/* .cameraOutput{} */

.topSide{
  width: 100%;
  height: 8vh;

  background-color: blanchedalmond;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 20vh;

  padding-top: 1vh;
}

.mainBlockGroup{
  width: 100%;
  height: 100%;

  padding-left: 1vh;
  padding-right: 1vh;

  margin-left: 2vh;

  background-color: blanchedalmond;

  border-radius: 1vh;
}

.dataBlockGroup{
  width: 100%;
  height: 100%;

  margin-left: 3vh;
  margin-right: 2vh;

  padding-left: 1vh;
  padding-right: 1vh;

  background-color: blanchedalmond;

  border-radius: 1vh;
}

.progressLine{
  display: grid;
  justify-items: center;
}

#progressLabel{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#progressBar{
  block-size: 2em;
  inline-size: 40em;
}

#elementList{
  font-size: x-large;
}